#container {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 3rem;
}

.avatar {
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  position: relative;
  width: 50px;
}

.avatar img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.avatar::after {
  background-color: transparent;
  border-radius: 50%;
  content: '';
  height: 50px;
  inset: 0;
  width: 50px;
  position: absolute;
}
